#root {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.rdt_TableHeadRow > .rdt_TableCol:first-child {
  padding-left: 30px;
}
.rdt_TableHeadRow > .rdt_TableCol:last-child {
  padding-right: 30px;
}

.rdt_TableRow > .rdt_TableCell:first-child {
  padding-left: 30px;
}
.rdt_TableRow > .rdt_TableCell:last-child {
  padding-right: 30px;
}

.rdt_TableHeadRow,
.rdt_Pagination {
  background: #f8fafc !important;
}

.fadeIn {
  animation: 0.5s ease-out 0s 1 fadeIn;
}

.app-body {
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.sidebar-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar-header {
  min-height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: '1px solid rgb(12 19 32)'; */
  padding: 30px;
}
.collapsed-sidebar-header{
  min-height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.logo-text {
  flex: 1;
  padding: 0 20px;
  font-size: 26px;
  letter-spacing: 2px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.sidebar-menu-label {
  color: #8e8e8e;
  padding: 20px 30px 10px 30px;
}

.page-vertical-menu.ui.menu {
  border: none;
  box-shadow: none;
  border-radius: none;
  width: 230px;
}

.page-vertical-menu.ui.menu .item {
  padding-left: 30px;
  padding-right: 30px;
}
.page-vertical-menu.ui.menu .item:last-child {
  border-bottom: 1px solid #ddd;
}

.ui.button {
  text-transform: uppercase;
}

.full-page-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.page-content-wrapper {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background: white;
  min-height: 100%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.sub-text {
  margin-top: 4px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  font-size: 11px;
  color: #8392a5;
  font-weight: 500;
}

.header-text {
  margin-top: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 22px;
}

.page-header-actions {
  display: flex;
  justify-content: flex-end;
}

.page-body {
  background: #f1f5f9;
  flex: 1;
  display: flex;
  padding: 30px;
}

.page-footer {
  background: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-top: 1px solid #ddd;
}

.rdt_TableHead {
  font-size: 14px !important;
}
.node-actions{
  background-color: #8392a5;
}
.dropdown-style{
width: 100%;
display: flex;
justify-content: space-between;
}

.radioBtn-container{
  display:flex;
  margin-bottom: 20px;
  width:50%;
  justify-content: space-between;
}

/* Document List */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.fields-container {
  height: 100%;
  background-color: #fff;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}
.sticky-header-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  width: 100%;
}

.sticky-header {
  display: flex;
  align-items: center;
}

.text-bold {
  font-weight: 700;
}

.doc-container {
  /* height: 100vh; */
  /* min-width: 200px; */
  /* width: 100%; */
  flex: 1;
  background: #efefef;
  padding: 1rem;
}
.field-count {
  background-color: #efefef;
  border-radius: 150px;
  padding: 0px 5px;
  color: #474747;
  margin-right: 0.2rem;
  font-weight: 400;
}
.field-card {
  padding: 8px 1rem;
  background-color: #fff;
  border-top: 1px solid #efefef;  
}
.field-key {
  margin-bottom: 1rem;
  font-weight: 600;
}
.field-value {
  font-weight: 600;
  margin-left: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.rc-tree .rc-tree-treenode{
  line-height: normal;
}

.container-collection-text{
  font-weight: 600;
  font-size: 14px;
}

.container-count-text{
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #2e333a;
  font-weight: 500;
}

.container-header-text{
  margin-top: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 16px;
}

.list-item {
  width: 200px; /* Adjust the width as needed */
}
.list-container {
  max-width: 600px; /* Adjust the width as needed */
  overflow: auto; /* or overflow: hidden; */
}
.showFormat{
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 18rem;
  height: 5rem;
  margin-left: 20%;
}

/* Custom styles for the dropdown */
.custom-dropdown {
background-color: #1678c2 !important;
color: white !important;
}

/* notes css */
.note-page-body {
  padding: 10px; 
  max-height: 550px
}

.notes-note-div {
  background-color: #f1f5f9; 
  margin-top: 10px; width: 60%;
  padding: 10px 0px 10px 15px;
  border-radius: 15px
}

.notes-nametxt {
  font-weight: 700; 
  font-size: 14px
}

.notes-notetxt {
  font-weight: 500; font-size: 13px; margin: 5px 0px 5px 0px, 
}

.notes-datetxt {
  text-align: right; font-size:12 ; padding-right:10px
}

.notes-nodatatxt {
  text-align: center ; font-size: 16px ; font-weight: 600; padding: 10px
}

.notes-input {
  background-color: white;
  border: 1px solid;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
  font-size: 14px;
  width: 100% ;
}

.ui.table-row td,
.ui.table-row th {
  padding: 0.4em; /* Adjust the padding as needed to change the row height */
  margin: 0;
}



.pagination-container {
  position: sticky;
  margin-bottom: 0;
  background-color: white; /* Ensure visibility against the table */
  z-index: 10; /* Ensure it's above the table content */
}


.sticky-header {
  position: sticky;
  top:20;
  background-color: white; /* Set the background color as needed */
  z-index: 1; /* Adjust the z-index as needed to ensure it appears above the table body */
}

.disabled-input {
  background-color: #766666; /* Set the background color to gray */
  cursor: not-allowed; /* Change the cursor to not-allowed to indicate it's disabled */
    text-decoration-thickness: 5;
    color: #000 ;
    /* opacity: 1; */
}

.error-message{
  color: red;
  font-size: 14px;
  text-align: start;
  margin-top: 5px;
}

.badge {
    position: absolute;
    z-index: 0;
    top: -5px;
    left: 100%;
    margin: 0 0 0 -1.5em !important;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
  border-radius: 8px;
}

.ui.action.input:not([class*='left action']) > .button:last-child, .ui.action.input:not([class*='left action']) > .buttons:last-child > .button, .ui.action.input:not([class*='left action']) > .dropdown:last-child{
  border-radius: 0 8px 8px 0px;
  background-color: white;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
 border-right: 1px solid #DEDEDE;
}

.collapsed-sidebar-icon:hover{
  color: 'black';
  background-color: '#acbdcd';
}


@media screen and (max-width: 900px) {
  .datageocomp {
    display: block;
    display: none; /* Show the login form */
  }
  .mobdiv{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
  }
  .compdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .setpassformdiv{
    width: 94% !important;
  }
  .verifyotpdiv {
    width: 200%;
  }
}

@media screen and (min-width: 900px) {
  .imgtext {
    display: flex;
    flex-direction: column;
    gap: 30px;

    display: none;

  }

}

.bg-linear-gradient {
  background-color: transparent;
  background-image: linear-gradient(90deg, #5770fd 0%, #f866c6 100%) !important;
}

.text-linear-gradient {
  background: -webkit-linear-gradient(#F866C6, #5770FD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-tel-input .flag-dropdown{
  border-radius: 8px 0 0 8px !important;
}

.react-tel-input .flag-dropdown.open .selected-flag{
  border-radius: 8px 0 0 8px !important;

}
.react-tel-input .selected-flag:hover{
  background-color: transparent !important;;
}