@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap');
.ui,
body,
html {
  font-family: 'IBM Plex Sans', sans-serif;
}

button, input, optgroup, select, textarea {
  font-family: 'IBM Plex Sans', sans-serif;
}

.ui.form .field > label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
}
.ps-sidebar-container{
  overflow: hidden !important;
}


.swal2-radio{
  flex-direction: column;
  align-items: flex-start !important;
}


.ui.labeled.icon.button.saveandback{
  padding-left: 30px !important;
}


.masterDD .ui.icon.input{
  width: 100% !important;
}

.masterDD .ui.icon.input input{
  padding: 5px 10px;
}

.masterDD .results{
  width: 20em  !important;
}


.doc-field:hover{
  background-color: white;
  border : 1px solid rgba(0, 0, 0, 0.12);
}
.doc-field{
  margin-bottom: 5px;
  border-radius: 4px;
  border : 1px solid #a7c4ff1f;
}


.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button{
  background-color: #2185d0 !important;
}

.ui.table.shipUnitTable thead th{
  background: #f4f8ff !important;
  padding: 0.528571em 0.78571429em !important;
}


.ui.button.floating.labeled.dropdown.icon.headerMenu{
  padding-left: 10px !important;
  padding-right: 26px !important;
  background: transparent;
  color: white;
}